<h1>Bericht</h1>

<p>Zu Beginn meines Projekts war mein Ziel, eine Seite mit <em>Ruby on Rails</em> erstellen, welche dem Benutzer ein Anmeldeformular anzeigt. Diese Daten sollten dann in einer Datenbank gespeichert werden und vom Administrator nach einer Autentifizierung eingesehen und bearbeitet werden. Damit könnte zum Beispiel eine Anmeldung für ein Konzert verwirklicht werden.</p>

<p>Ich stellte aber fest, dass ich etwas Richtiges in <em>Ruby on Rails</em> schreiben wollte, das solide ist und ich auch weiter verwenden kann. Ruby konnte ich schon, aber von <em>Ruby on Rails</em> hat ich noch nicht viel Ahnung. Darum beschloss ich im Rahmen meines Projekts <em>Ruby on Rails</em> zu lernen.</p>

<p>Zuerst arbeitete ich das interaktive <a href="http://railsforzombies.org/"><em>Rails for Zombies</em></a>-Tutorial druch. Dort konnte ich viele Teile von <em>Rails</em> mal erfahren, aber so wirklich eine gute Grundlange hat es mir nicht geboten.</p>

<p>So bin ich auf das Onlinebuch <a href="http://railstutorial.org/"><em>Ruby on Rails Tutorial: Learn Rails by Example</em></a> von <a href="http://michaelhartl.com/">Michael Hartl</a> gestossen. Dieses arbeite ich aktuell druch und es bringt einem <em>Rails</em> Stück für Stück näher. Damit ich die Essesz dieses Buches auch immer wieder griffbereit habe, habe ich angefangen die Kapitel zusammenzufassen. Da die ersten zwei Kapitel nur ein bisschen <em>Rails</em> zeigen, aber nocht nicht wirklich relevanten Inhalt bieten beginnt meine Zusammenfassung erst mit dem dritten Kapitel. Momentan bin ich bis zu sechsten Kapitel gekommen (was auch mein Ziel für das Projekt war). Ich habe aber noch vor, weiter zu lesen und dann die Kapitel auch als Zusammenfassung auf dieser Seite zu veröffentlichen.</p>

<p>Damit die Praxis, welche eigentlich vom Projekt vor allem gefordert wurde, nicht komplett gestrichen wurde, ist diese Seite hier komplett in <em>Rails</em> geschrieben. Damit konnte ich alles gelernte nochmals repetieren und meine erste selbständige Railsapp schreiben.</p>

<p>Was ich sehr interessant gefunden habe am Railsbuch ist das Schreiben von Tests für eine Railsapp. Ich habe gemerkt, dass solche Tests, sofern sich richtig eingesetzt werden, sehr hilfreich sind. So können viele Bugs von Tests abgefangen werden.</p>
