<h1>Home</h1>

<p>Im Rahmen von Projekten im Ergänzungsfach Informatik habe ich <a href="http://rubyonrails.org/">Ruby on Rails</a> mit Hilfe des Onlinebuches <a href="http://railstutorial.org/"><em>Ruby on Rails Tutorial: Learn Rails by Example</em></a> von <a href="http://michaelhartl.com/">Michael Hartl</a> gelernt. Um die Essenz der Kapitel 3 bis 5 immer griffbereit zu haben, habe ich diese zusammengefasst. Diese können über die Navigation eingesehen werden. Weiter habe ich ein Cheatsheet mit allen wichtigen Befehlen erstellt und einen Bericht zu meiner Arbeit geschrieben.</p>

<p>Diese Seite ist auch eine Railsapp und der Quelltext davon kann bei <a href="https://github.com/fossil12/Kleine-Railsdoku">Github</a> eingesehen und heruntergeladen werden. Wie dass dann die App lokal gestartet werden kann, steht dort.</p>