<footer>
	<p><a href="http://creativecommons.org/licenses/by-nc-sa/2.5/ch/">CC BY-NC-SA</a> 2011 by David Keller. Zusammenfassungen aus dem Buch <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> von <a href="http://michaelhartl.com/">Michael Hartl</a></p>
</footer>